---
import Layout from '../layouts/Layout.astro';
---

<Layout>
		<h1>Welcome to Our Dealership</h1>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 120ch;
	}

	.vehicle-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;
	}
</style>