---
import Layout from '../layouts/Layout.astro';
<<<<<<< Updated upstream
import { vehicles } from '../data/vehicles.js';
import VehicleCard from '../components/VehicleCard.astro';
<<<<<<< HEAD
import '../styles/styles.css';
=======
=======
import VehicleCard from '../components/VehicleCard.astro';
import { vehicles } from '../data/vehicles.js'; 

>>>>>>> Stashed changes
>>>>>>> 32b64eea382361deb27b935cb788da6973fde04a
---

<Layout>
	<h1>Welcome to Our Dealership</h1>
	<div class="vehicle-grid">
		{vehicles.map(vehicle => (
			<VehicleCard vehicle={vehicle} />
		))}
	</div>
</Layout>
