---
import Layout from '../layouts/Layout.astro';
import VehicleCard from '../components/VehicleCard.astro'; // remove
//add example to display vehicles
import { vehicles } from '../data/vehicles.js'; // Example data source

---

<Layout>
	<main>
		<!-- Card example to display -->
		<h1>Our Inventory</h1>
        <div class="vehicle-grid">
            {vehicles.map(vehicle => (
                <VehicleCard vehicle={vehicle} />
            ))}
        </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 120ch;
	}

	.vehicle-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;
	}
</style>