---

---
<p>Footer info pending</p>

<style>
    p {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1rem;
        position: relative;
        bottom: 0;
        width: 100%;
    }
</style>